body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:black;
  color: #333;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: grey;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.header a:hover {
  text-decoration: underline;
}
.section {
  padding: 50px;
  text-align: center;
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.home-content img {
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.scroll-container {
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between;
}

.card {
   
  justify-content: space-between;
  width: 300px;
  padding:10px;
  border-radius: 10px;
  background: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}
.btn {
  display: inline-block;
  background: #007BFF;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background: #0056b3;
}
.contact-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.contact-container .box {
  width: 300px;
  padding: 20px;
  background: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.footer {
  background: black;
  color: white;
  text-align: center;
  padding: 15px;
}
#b{
  color: white;
}

